<!DOCTYPE html>
<html>
<head>
	<title>cars</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
	<div class="top">
		<img src="http://localhost:7077/images/download-5.jpg" alt="one">
		<img src="http://localhost:7077/images/download-2.jpg" alt="two">
		<img src="http://localhost:7077/images/download-1.jpg" alt="three">
	</div>

	<div class="bottom">
		<img src="http://localhost:7077/images/download-3.jpg" alt="four">
		<img src="http://localhost:7077/images/download.jpg" alt="five">
		<img src="http://localhost:7077/images/download-4.jpg" alt="six" >
	</div>
</div>
</body>
</html>