<!DOCTYPE html>
<html>
<head>
	<title>cats</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="contain">
	<div class="left">
		<img src="http://localhost:7077/images/images.jpg" alt="one">
		<img src="http://localhost:7077/images/download-6.jpg" alt="two">
		<img src="http://localhost:7077/images/download-7.jpg" alt="three">
	</div>

	<div class="right">
		<img src="http://localhost:7077/images/images-1.jpg" alt="four">
		<img src="http://localhost:7077/images/images-2.jpg" alt="five">
		<img src="http://localhost:7077/images/download-8.jpg" alt="six">
		<img src="http://localhost:7077/images/images-3.jpg" alt="seven">
	</div>
</div>
</body>
</html>